:root {
    --lightBlue-color: #064D53;
    --yellow-color:    #F2F208;
    --white-color:     #fff;
    --grey-color:      #474747;
    --black-color:     #000;
}


* {
    font-family: 'Noto Sans', sans-serif;
    
}

.barra, .miExperiencia, .pie {
    background-color: var(--lightBlue-color);
}

.fondoCar, .descripcion {
    background-color: var(--yellow-color);
}

.awesome, .awesome p, .iconos i {
    color: var(--white-color);
}

.titulo, .titExp, .trabajos h2{
    font-weight: 700;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
}

.subTitulo, .descTitulo, .awesome p {
    font-size: 1.75rem;
}

nav .logoLetras {
    font-family: 'Monoton', cursive;
    font-size: 2.5rem;
    letter-spacing: 0.75rem;
}

.barra {
    border-bottom: 0.3125rem solid var(--white-color);
    position: fixed;
    width: 100vw;
    z-index: 10;

}

.hero {
    background-image: url("../img/ciudad01.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.perfil {
    width: 65%;
    border: 0.3125rem solid var(--white-color);
}   

.titulo {
    margin: 0;
    letter-spacing:  0.375rem;
}

@media only screen and (max-width:367px){
    .titulo {
        font-size: 3.125rem;
    }
}

.separadorHero {
    background-color: var(--white-color);
    border-width: 0.3rem;
    margin-left: 0;
    margin-top: 0.3rem;
}

.subTitulo {
    font-weight: 700;
    
}

.iconos i {
    padding-left: 1rem;
    
}

.descripcion {
    padding: 3.125rem 0 0.6rem 0 ;
}

.descTitulo {
    letter-spacing: 0.03125rem;
    line-height: 2.375rem;
    color: var(--grey-color);
    
}

.separadorDesc {
    background-color: var(--grey-color);
    border-width:  0.3125rem;
    width: 40.625rem;
    margin-top: 6.25rem;
    
}

@media only screen and (max-width:767px) {
    .separadorDesc{
        width: 18.75rem;
        
    }
}

.titExp {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width:767px) {
    .titExp {
        font-size: 3.125rem;
    }
}

.awesome {
    font-size: 9.375rem;
    height: 19.375rem;
}


.codeIcon {
    height: 3.5rem;
    width: 3.5rem;
}

.carousel-inner {
    border: 0.3125rem solid var(--white-color);
}

.carousel-indicators li {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: var(--lightBlue-color);
}

.trabajos {
    background-color: var(--black-color);
 }

.trabajos h2 {
    padding-top: 6.875rem;
}

@media only screen and (max-width:992px) and (min-width:767px){
    .trabajos h2 {
        padding-left: 1rem;
    }
}

@media only screen and (max-width:767px){
    .trabajos h2 {
        font-size: 3.9375rem;
        padding-top: 0px;
        }
}

@media only screen and (max-width:992px) and (min-width:576px){
    .card-body {
        padding: 0rem;
    }
}

.pie {
    
    border-top: 5px solid var(--black-color);
}

.pie .logoLetras {
    width: 50%;
    margin: 0 auto;
}

.column {
    display: inline-block;
}



