* {
    font-family: 'Noto Sans', sans-serif;
    
}

body {
    margin: 0;
    padding: 0;
}



nav .logoLetras {
    font-family: 'Monoton', cursive;
    font-size: 40px;
    
    letter-spacing: 12px;
}

.logoLetras {
    font-family: 'Monoton', cursive;
    font-size: 40px;
    letter-spacing: 12px;
}

.barra {
    background-color: #064D53;
    border-bottom: 5px solid #fff;
    position: fixed;
    width: 100vw;
    z-index: 10;

}

.hero {
    background-image: url("../img/ciudad\ PS3.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.perfil {
    width: 65%;
    border: 5px solid #fff;
}   

.titulo {
    
    font-size: 63px;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 6px;
}

@media only screen and (max-width:367px){
    .titulo {
        font-size: 50px;
    }
}

.separadorHero {
    background-color: #fff;
    border-width: 5px;
    margin-left: 0;
    margin-top: 5px;
}

.subTitulo {
    font-size: 30px;
    font-weight: 700;
    
}

.iconos i {
    padding-left: 15px;
    color: #fff;
}

.descripcion {
    background-color: #F2F208 ;
    padding: 50px 0 10px 0 ;
}

.descTitulo {
    font-size: 28px;
    letter-spacing: 0.5px;
    line-height: 38px;
    color: #474747;
    
}

.separadorDesc {
    background-color: #474747;
    border-width: 5px;
    width: 650px;
    margin-top: 100px;
    
}

@media only screen and (max-width:767px) {
    .separadorDesc{
        width: 300px;
        
    }
}

.miExperiencia {
    background-color: #064D53;
}

.titExp {
    font-weight: 700;
    font-size: 65px;
    font-family: 'Oswald', sans-serif;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width:767px) {
    .titExp {
        font-size: 50px;
    }
}

.fondoCar {
    background-color: #F2F208;
}


.awesome {
    color:#fff;
    font-size: 150px;
    height: 310px;
}

.awesome p{
    font-size: 28px;
    color: #fff;
   
}

.codeIcon {
    height: 56px;
    width: 56px;
}

.carousel-inner {
    border: 5px solid #fff;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#064D53;
}

.trabajos {
    background-color: #000;
   
}

.trabajos h2 {
    font-weight: 700;
    font-size: 65px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.trabajos h2 {
    padding-top: 110px;
}

@media only screen and (max-width:992px) and (min-width:767px){
    .trabajos h2 {
        padding-left: 1rem;
    }
}

@media only screen and (max-width:767px){
    .trabajos h2 {
        font-size: 35px;
        padding-top: 80px;
        padding-left: 20px;
    }
}

@media only screen and (max-width:992px) and (min-width:576px){
    .card-body {
        padding: 0;
    }
}

.pie {
    background-color:  #064D53;
    border-top: 5px solid #000;
}

.pie .logoLetras {
    width: 50%;
    margin: 0 auto;
}

.pie a {
    
    color: #fff;
}

.pie p {
    font-size: 20px;
}

.column {
    display: inline-block;
}



